/* Menu */
  drawer {
    position: fixed;
    @include break(isLarge) {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 100;

    .drawer-container {
      -webkit-transform: translateY(-340px);
      transform: translateY(-340px);
      transition: transform .4s ease-out;
      padding: 20px 20px 28px 20px;
      background: $midnight;
      box-shadow: 0;

      &>div {
        height: 400px;
        overflow: hidden;

        .header-container {
          display: flex;
          flex-flow: row wrap;
          .header {
            flex: 1 auto;
            &>div {
              font-size: 32px;
              margin: -2px 0 0 5px;
              color: $fog;
              &:first-child {
                margin: -2px 20px 10px 5px;
                text-align: center;
                @include break(isMedium) {
                  text-align: left;
                }
              }
            }
          }
          .menu {
            flex: 3 auto;
            &>div {
              display: flex;
              flex-flow: row wrap;
              justify-content: flex-end;
              margin: 0 0 0 -10px;

              &>.box {
                flex: 1 auto;
                font-size: 20px;
                padding: 4px 8px;
                margin: 0 0 10px 10px;
              }
            }
          }
        }

        .galleries-container {
          margin: 8px 0 0 -2px;
          &>div {
            //display: flex;
            //flex-flow: row wrap;
            .galleries {
              //flex: 1 auto;
              height: 120px;

              // margin: 8px 0 0 10px;

              float: left;

              @include break(isMedium) {
                width: 25%;
                &:nth-child(4) {
                  clear: left;
                }
              }

              @include break(isSmall) {
                width: 50%;
                &:nth-child(3) {
                  clear: left;
                }
              }

              box-shadow: $drop-shadow-dark;
              background: {
                color: $charcoal;
                size: cover;
                position: center;
                repeat: no-repeat;
              }

              &>div {
                width: 100%;
                height: 120px;
                display: flex;
                align-items: stretch;

                &>div {
                  flex: 1 auto;
                  display: table-cell;
                  vertical-align: center;
                  text-align: center;
                  font-size: 18px;
                  color: $midnight;
                }

              }
            }
          }
        }

        .search {
          margin: 40px 0 20px;
          display: table;
          @include placeholder-text(#333);
          input[type="search"] {
            &::-webkit-input-placeholder { color: $fog; }
            &::-moz-placeholder { color: $fog; }
            &:-moz-placeholder { color: $fog; }
            &:-ms-input-placeholder { color: $fog; }
            &:focus {
              &::-webkit-input-placeholder { color: $tar; }
              &::-moz-placeholder { color: $tar; }
              &:-moz-placeholder { color: $tar; }
              &:-ms-input-placeholder { color: $tar; }
            }
            outline: none;
            border: 0;
            background: $midnight;
            color: $fog;
            font-size: 24px;
            padding: 4px 0 0;
            text-align: left;
            width: 300px;
            margin: 8px 0 0 8px;
          }
          .results {
            padding: 20px 8px 0;
            ul {
              margin: 0;
              padding: 0;
              li {
                display: block;
                font-size: 18px;
                color: $fog;
              }
            }
          }
        }

      }
      a.toggler {
        &:before {
          display: inline-block;
          vertical-align: middle;
          content: " ";
          background-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 34 24" height="24px" id="Layer_1" version="1.1" viewBox="0 0 34 24" width="34px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><rect fill="#FFFFFF" height="6" width="34"/><rect fill="#FFFFFF" height="6" width="34" y="9"/><rect fill="#FFFFFF" height="6" width="34" y="18"/></g></svg>');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          margin-right: 0.25em;
          width: 1.4em;
          height: 2.2em;
          margin-left: 0.4em;
        }
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        margin: 58px 0 0 8px;
        border: 2px solid $white;
        transition: transform 0.4s ease-out;
        white-space: nowrap;
        display: inline-block;
      }
    }
    &:after {
      display: none;
    }

    &.active {
      height: 100%;
      .drawer-container {
        box-shadow: $drop-shadow-dark-large;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        a.toggler {
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
        }

      }
      &:after {
        content: " ";
        display: block;
        z-index: -1;
        background: rgba(41,41,41,0.75);
        position: absolute;
        height: 100%;
        width: 100vw;
        top: 0;
        left: 0;
      }
    }
  }
