/* Home */
  .cover {
    & > .cover-spacer {
      display: table;
      width: 100%;
      & > div {
        padding: 50px;
        display: table-cell;
        vertical-align: middle;
        background: {
          image: url('/images/FRS03.jpg');
          position: center;
          size: cover;
          repeat: no-repeat;
        }
        .title {
          @include box-outline-color($white);
          margin: auto;
          max-width: 490px;
          font-size: 38px
        }
        .menu {
          height: 40px;
          width: 100%;
          & > div {
            margin: 20px auto 0;
            display: table;
          }
          .menu-spacer {
            float: left;
            margin: 0 20px;
            font-size: 18px;
            text-transform: uppercase;
            color: #CCC;
            &:hover {
              cursor: pointer;
              color: #FFF;
            };
          }
        }
      }
    }
  }

  .bulletin {
    padding: 20px;
    margin: -160px 0 0;
    & > div {
      @include animation-panel(color, background-color, box-shadow);
      color: #CCC;
      padding: 20px;
      background-color: #1E1E1E;
      box-shadow: $drop-shadow-dark;
      &:hover {
        box-shadow: $drop-shadow-light;
        color: #1E1E1E;
        background-color: #FFF;
      };
    }
    .title {
      display: table;
      text-transform: uppercase;
      font-size: 18px;
      text-align: left;
    }
    .image {
      display: table;
      padding-top: 20px;
    }
    .short {
      display: table;
      font-size: 14px;
      text-align: left;
    }
  }
