$isTiny: 320px;
$isSmall: 480px;
$isMedium: 768px;
$isLarge: 992px;
$isJumbo: 1200px;

@mixin break($point) {
  @if $point == isTiny {
    @media (min-width : $isTiny)  { @content; }
  }
  @else if $point == isSmall {
    @media (min-width : $isSmall) { @content; }
  }
  @else if $point == isMedium {
    @media (min-width : $isMedium)  { @content; }
  }
  @else if $point == isLarge {
    @media (min-width : $isLarge)  { @content; }
  }
  @else if $point == isJumbo {
    @media (min-width : $isJumbo)  { @content; }
  }
}

@mixin animation-panel ($properties...) {
             -webkit-transition-duration: 0.5s;
             -webkit-transition-property: $properties;
      -webkit-transition-timing-function: ease-out;
                -moz-transition-duration: 0.5s;
                -moz-transition-property: $properties;
         -moz-transition-timing-function: ease-out;
                  -o-transition-duration: 0.5s;
                  -o-transition-property: $properties;
           -o-transition-timing-function: ease-out;
                     transition-duration: 0.5s;
                     transition-property: $properties;
              transition-timing-function: ease-out;
}

@mixin placeholder-text ($placeholderColor) {
  input::-webkit-input-placeholder { color:$placeholderColor; }
  input::-moz-placeholder { color:$placeholderColor; }
  input:-moz-placeholder { color:$placeholderColor; }
  input:-ms-input-placeholder { color:$placeholderColor; }
}
