.photos {
  .header {
    font-size: 30px;
    color: $fog;
    margin: 60px 0 0;
    text-align: center;
  }

  /* Photos */
  .photo-container {
    padding: 30px 30px 0;
    margin: 40px 0 0 0;

    & > thumbnail {
      @include break(isTiny) { height: 420px; }
      @include break(isSmall) { height: 520px; }
      @include break(isMedium) { height: 460px; }
      @include break(isLarge) { height: 380px; }
    }

    .photo-thumb {

      @include break(isTiny) { width: 280px; }
      @include break(isSmall) { width: 400px; }
      @include break(isMedium) { width: 340px; }
      @include break(isLarge) { width: 260px; }

      margin: 0 auto;
      overflow: hidden;
      background-color: $midnight;
      box-shadow: $drop-shadow-dark;
      cursor: pointer;

      & > div {
        padding: 10px;
      }

      .photo-image-container{
        & > div {
          position: absolute;
          width: 100%;
        }
      }

      .photo-image-container,
      .photo-image-container > div,
      .photo-image {
        overflow: hidden;
        @include break(isTiny) {
          width: 260px;
          height: 260px;
        }
        @include break(isSmall) {
          height: 380px;
          width: 380px;
        }
        @include break(isMedium) {
          height: 320px;
          width: 320px;
        }
        @include break(isLarge) {
          height: 240px;
          width: 240px;
        }
      }

      .photo-image {
        position: absolute;
        box-sizing: content-box;
        background: {
          size: cover;
          position: center;
          repeat: no-repeat;
        }
      }

      .photo-info {
        width: auto;
        height: 45px;
        overflow: hidden;
        color: #999;
        text-align: center;
        font-size: 18px;
        padding: 20px 0 0 0;

        & > div:nth-child(2) {
          font-size: 15px;
        }
      }

      &:hover {
        @include animation-panel(background-color);
        background-color: #FFF;
        z-index: 400;

        .photo-info {
          @include animation-panel(width,height);
          color: #111;
          height: auto;
        }

        .photo-image {
          @include animation-panel(width,height,margin);
            height: 110%;
            width: 110%;
            margin: -3% 0 0 -3%;
        }
      }
    }
  }
}
