$icon-font-path: "../../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$color-dark: #222;
$drop-shadow-dark: 0 0px 5px #101010;
$drop-shadow-light: 0 0px 5px #999;

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "_mixins";

body {
  background-color: #383838;
  font-family: 'Abel', sans-serif;
}

* {
  box-sizing: border-box;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Header */
  header {
    z-index: 5000;
    position: fixed;
    width: 100%;
    padding: 20px;
    & > div {
      box-shadow: $drop-shadow-dark;
      background-color: #222;
      color: #CCC;
      .header-logo {
        @include breakpoint(md) {
          padding: 15px 0 0 20px;
          text-align: left;
          font: {
            family: 'Source Sans Pro', sans-serif;
            size: 1.5em;
            weight: 200;
          }
        }
      }
      .header-menu {

        @include breakpoint(md) {
          padding-right: 5px;
        }
        .navbar {
          min-height: 0;
        }
        .navbar,
        .navbar-inverse {
          border-radius: 0;
          border: none;
          margin-bottom: 0;
        }

        .nav li {
          display: inline;
          color: white;
        }
        .navbar-inverse {
          padding: {
            top: 5px;
            bottom: 5px;
          }
        }
        .navbar-inverse .navbar-nav > li > a {
          color: #ffffff;
          font-size: 1.5em;
          text-align: center;
          font-weight: 300;
        }

        .navbar-inverse .navbar-nav li a:hover {
          background-color: #444444;
          transition: 0.7s all linear;
          height: 100%;
        }
        .navbar-nav {
          width: 100%;
          float: right;
          margin: 0 0 10px 0;
          @include breakpoint(md) {
            margin: 0;
            width: auto;
          }
        }

        .navbar-toggle {
          border: none;
          border-radius: 0;
          margin: 0 auto;
          float: none;
          display: block;
          @include breakpoint(md) {
            float: right;
            display: none;
          }
        }
        .navbar-collapse {
          padding: {
            left: 0;
            right: 0;
          }
          border: none;
          box-shadow: none;
        }

      }

    }
  }



/* Home */
  .cover {
    & > .cover-spacer {
      display: table;
      width: 100%;
      & > div {
        padding: 50px;
        display: table-cell;
        vertical-align: middle;
        background: {
          image: url('/images/FRS03.jpg');
          position: center;
          size: cover;
          repeat: no-repeat;
        }
        .title {
          padding: 10px;
          margin: auto;
          max-width: 490px;
          text-align: center;
          border: 2px solid #FFF;
          color: #FFF;
          font-size: 38px
        }
        .menu {
          height: 40px;
          width: 100%;
          & > div {
            margin: 20px auto 0;
            display: table;
          }
          .menu-spacer {
            float: left;
            margin: 0 20px;
            font-size: 18px;
            text-transform: uppercase;
            color: #CCC;
            &:hover {
              cursor: pointer;
              color: #FFF;
            };
          }
        }
      }
    }
  }

  .bulletin {
    padding: 20px;
    margin: -160px 0 0;
    & > div {
      @include animation-panel(color, background-color, box-shadow);
      color: #CCC;
      padding: 20px;
      background-color: #1E1E1E;
      box-shadow: $drop-shadow-dark;
      &:hover {
        box-shadow: $drop-shadow-light;
        color: #1E1E1E;
        background-color: #FFF;
      };
    }
    .title {
      display: table;
      text-transform: uppercase;
      font-size: 18px;
      text-align: left;
    }
    .image {
      display: table;
      padding-top: 20px;
    }
    .short {
      display: table;
      font-size: 14px;
      text-align: left;
    }
  }

/* Photos */
  .photo-container {
    padding: 15px;
    @include breakpoint(md) { padding: 30px; }
    .photo-thumb {
      box-shadow: $drop-shadow-dark;
      margin: 20px 0 30px;
      @include breakpoint(md) { margin: 20px 10px; }
      cursor: pointer;

      .photo-image {
        overflow: hidden;
        
        @include breakpoint(xs) { height: 300px; }
        @include breakpoint(sm) { height: 480px; }
        @include breakpoint(md) { height: 300px; }
        @include breakpoint(lg) { height: 260px; }
        
        width: auto;
        background: {
          size: cover;
          position: center;
          repeat: no-repeat;
        }
      }
      .photo-info {
        @include animation-panel(color, background-color, box-shadow);
        box-shadow: $drop-shadow-dark;
        width: auto;
        height: 100px;
        overflow: hidden;
        background-color: #111;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        padding: 20px;
      }
      &:hover {
        .photo-info {
          box-shadow: $drop-shadow-light;
          background-color: #FFF;
          color: #111;
        }
      }
    }
  }
