$icon-font-path: "../../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$color-dark: #222;
$drop-shadow-dark: 0 0px 5px #101010;
$drop-shadow-light: 0 0px 5px #999;

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "_mixins";

body {
  background-color: #383838;
  font-family: 'Abel', sans-serif;
}

* {
  box-sizing: border-box;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Header */
  header {
    z-index: 5000;
    position: fixed;
    width: 100%;
    padding: 20px;
    & > div {
      box-shadow: $drop-shadow-dark;
      background-color: #222;
      color: #CCC;
      .header-search {
      }
      .header-logo {
        @include breakpoint(md) {
          color: #999;
          font-size: 18px;
          padding: 15px 0 0 20px;
          text-align: left;
        }
      }
      .header-search {
        margin: 0 auto;
        display: table;

        @include placeholder-text(#333);
        input[type="search"] {
          border: 0;
          background: #111;
          color: #999;
          font-size: 18px;
          padding: 4px 8px;
          text-align: center;
          @include breakpoint(md) { text-align: right; }
          width: 100px;
          margin: 8px 0 0 0;
        }
      }
      .header-menu {

        @include breakpoint(md) {
          padding-right: 5px;
        }
        .navbar {
          min-height: 0;
        }
        .navbar,
        .navbar-inverse {
          border-radius: 0;
          border: none;
          margin-bottom: 0;
        }

        .nav li {
          display: inline;
          color: white;
        }
        .navbar-inverse {
          padding: {
            top: 5px;
            bottom: 5px;
          }
        }
        .navbar-inverse .navbar-nav > li > a {
          color: #999;
          font-size: 18px;
          text-align: center;
        }

        .navbar-inverse .navbar-nav li a:hover {
          background-color: #444444;
          transition: 0.7s all linear;
          height: 100%;
        }
        .navbar-nav {
          width: 100%;
          float: right;
          margin: 0 0 10px 0;
          @include breakpoint(md) {
            margin: 0;
            width: auto;
          }
        }

        .navbar-toggle {
          border: none;
          border-radius: 0;
          margin: 0 auto;
          float: none;
          display: block;
          @include breakpoint(md) {
            float: right;
            display: none;
          }
        }
        .navbar-collapse {
          padding: {
            left: 0;
            right: 0;
          }
          border: none;
          box-shadow: none;
        }

      }

    }
  }


/* Home */
  .cover {
    & > .cover-spacer {
      display: table;
      width: 100%;
      & > div {
        padding: 50px;
        display: table-cell;
        vertical-align: middle;
        background: {
          image: url('/images/FRS03.jpg');
          position: center;
          size: cover;
          repeat: no-repeat;
        }
        .title {
          padding: 10px;
          margin: auto;
          max-width: 490px;
          text-align: center;
          border: 2px solid #FFF;
          color: #FFF;
          font-size: 38px
        }
        .menu {
          height: 40px;
          width: 100%;
          & > div {
            margin: 20px auto 0;
            display: table;
          }
          .menu-spacer {
            float: left;
            margin: 0 20px;
            font-size: 18px;
            text-transform: uppercase;
            color: #CCC;
            &:hover {
              cursor: pointer;
              color: #FFF;
            };
          }
        }
      }
    }
  }

  .bulletin {
    padding: 20px;
    margin: -160px 0 0;
    & > div {
      @include animation-panel(color, background-color, box-shadow);
      color: #CCC;
      padding: 20px;
      background-color: #1E1E1E;
      box-shadow: $drop-shadow-dark;
      &:hover {
        box-shadow: $drop-shadow-light;
        color: #1E1E1E;
        background-color: #FFF;
      };
    }
    .title {
      display: table;
      text-transform: uppercase;
      font-size: 18px;
      text-align: left;
    }
    .image {
      display: table;
      padding-top: 20px;
    }
    .short {
      display: table;
      font-size: 14px;
      text-align: left;
    }
  }


/* Photos */
  .photo-container {
    padding: 30px 30px 0;
    margin: 100px 0 0 0;

    & > div {
      @include breakpoint(xs) { height: 420px; }
      @include breakpoint(sm) { height: 520px; }
      @include breakpoint(md) { height: 460px; }
      @include breakpoint(lg) { height: 380px; }
    }

    .photo-thumb {

      @include breakpoint(xs) { width: 280px; }
      @include breakpoint(sm) { width: 400px; }
      @include breakpoint(md) { width: 340px; }
      @include breakpoint(lg) { width: 260px; }

      margin: 0 auto;
      overflow: hidden;
      background-color: #111;
      box-shadow: $drop-shadow-dark;
      cursor: pointer;

      & > div {
        padding: 20px;
      }

      .photo-image-container{
        & > div {
          position: absolute;
          width: 100%;
        }
      }

      .photo-image-container,
      .photo-image-container > div,
      .photo-image {
        overflow: hidden;
        @include breakpoint(xs) {
          width: 240px;
          height: 240px;
        }
        @include breakpoint(sm) {
          height: 360px;
          width: 360px;
        }
        @include breakpoint(md) {
          height: 300px;
          width: 300px;
        }
        @include breakpoint(lg) {
          height: 220px;
          width: 220px;
        }
      }

      .photo-image {
        position: absolute;
        box-sizing: content-box;
        background: {
          size: cover;
          position: center;
          repeat: no-repeat;
        }
      }

      .photo-info {
        width: auto;
        height: 45px;
        overflow: hidden;
        color: #999;
        text-align: center;
        font-size: 18px;
        padding: 20px 0 0 0;

        & > div:nth-child(2) {
          font-size: 15px;
        }
      }

      &:hover {
        @include animation-panel(background-color);
        background-color: #FFF;

        .photo-info {
          @include animation-panel(width,height);
          color: #111;
          height: auto;
        }

        .photo-image {
          @include animation-panel(width,height,margin);
            height: 110%;
            width: 110%;
            margin: -3% 0 0 -3%;
        }
      }
    }
  }
