$icon-font-path: "../../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$drop-shadow-dark: 0 0px 5px #101010;
$drop-shadow-light: 0 0px 5px #999;

$coal: #222;
$charcoal: #333;
$midnight: #111;
$grey: #ccc;
$fog: #999;
$white: white;
$black: black;
$tar: #292929;
