
<div class="drawer-container container-fluid">

    <div>

      <div class="header-container">
        <div class="header">
          <div>Herman Leonard</div>
        </div>
        <div class="menu">
          <div>
            <div ng-repeat="item in menu" class="box box-outline box-hover">{{item.title}}</div>
          </div>
        </div>
      </div>

      <div class="categpries" ng-repeat="photo in photos | filter : { 'category' : 'Celebrities' } | limitTo: 1">{{photo.name}}</div>

      <div class="search">
        <input type="search" ng-model="search" placeholder="Search">
        <div class="results" ng-show="search">
          <ul>
            <li ng-repeat="photo in photos | filter : search">
              {{photo.name}}
            </li>
          </ul>
        </div>
      </div>

    </div>

  <a class="toggler" ng-click="toggleDrawer()"></a>

</div>
