
<div class="drawer-container container-fluid">

    <div>

      <div class="header-container">
        <div class="header">
          <div>Herman Leonard</div>
        </div>
        <div class="menu">
          <div>
            <div ng-repeat="item in menu" class="box box-outline box-hover">{{item.title}}</div>
          </div>
        </div>
      </div>

      <div class="galleries-container">
        <div>

            <div class="galleries"
                 ng-repeat="gallery in galleries"
                 style="background-image: url('{{gallery.photos[0].image.big}}');">

              <div>
                <div>{{gallery.name}}</div>
              </div>



            </div>

        </div>
      </div>

<!--       <div class="search">
  <input type="search" ng-model="search" placeholder="Search">
  <div class="results" ng-show="search">
    <ul>
      <li ng-repeat="photo in galleries[ currentGallery ].photos | filter : search">
        {{photo.name}}
      </li>
    </ul>
  </div>
</div> -->

    </div>

  <a class="toggler" ng-click="toggleDrawer()"></a>

</div>
