<div class="cover" ng-controller="CoverCtrl">
  <div class="cover-spacer">
    <div>
      <div class="title box box-outline box-hover"><div>Herman Leonard Photography</div></div>
      <div class="menu">
        <div>
          <div class="menu-spacer" ng-repeat="item in mainMenu">
            <span class="box box-solid box-hover" ng-click="go('{{item.url}}')">{{item.title}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" ng-controller="NewsCtrl">
  <div class="news">
    <div ng-repeat="bulletin in news.articles" post-cover-news-directive>
      <div class="bulletin">
        <div>
          <div class="title">{{bulletin.title}}</div>
          <div class="short" ng-show="">{{bulletin.short}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
